table {
  width: 100%;
}

.toolbar {
  color: gray;
  border-left: solid 3px #00838f;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
